nav {
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #FFFFFF;
    border-radius: 6px;
    padding-top: 12px;
    padding-bottom: 12px;
    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;

        span {
            width: 25px;
            height: 3px;
            background-color: #333;
            margin: 4px 0;
        }
    }

    .menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 6px;
        padding-bottom: 6px;
        .left, .right {
            display: flex;
            align-items: center;

            li, a {
                margin: 0 10px;
                text-decoration: none;
                color: #000000;
                list-style: none;
            }

            a:hover {
                text-decoration: underline;
                color: blue;
            }
        }
    }

    @media (max-width: 769px) {
        .hamburger {
            display: flex;
        }

        .menu {
            display: none;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 160px;
            left: 0;
            width: 100%;
            border-radius: 12px;
            background-color: #fff;

            .left, .right {
                flex-direction: column;

                li, a {
                    margin: 10px 0;
                }
            }
        }

        &.open .menu {
            display: flex;
        }
    }

    @media (min-width: 769px) {
        .menu {
            display: flex !important;
        }
    }
}
